{{#extends "base"}}
{{#block "content"}}
<div class="container d-flex justify-content-between mt-3">
    <div>
        <span class="fs-4">Order Details</span>
    </div>
    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" style="font-size: 16px;" class="btn btn-sm btn-primary">
            Receipt
        </a>
    </div>
</div>
<hr>
<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <a href='/orders' class="btn btn-danger btn-sm mt-3 me-2">Cancel Update</a>
    <input type="submit" value="Update Order Status" class="btn btn-sm btn-primary mt-3" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>Lure</th>
            <th>Colour</th>
            <th>Property</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{variant.lure.name}}</td>
            <td>{{variant.colour.name}}</td>
            <td>{{variant.property.name}}</td>
            <td>${{toDollars variant.cost}}</td>
            <td>{{this.quantity}}</td>
            <td><img src="{{variant.thumbnail_url}}"></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{/block}}
{{/extends}}