{{#extends "base"}}
{{#block "content"}}
<div class="container d-flex justify-content-between mt-3">
    <div>
        <span class="fs-4">Order Details</span>
    </div>
    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" style="font-size: 16px;" class="btn btn-sm btn-primary">
            Receipt
        </a>
    </div>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Lure</th>
            <th>Colour</th>
            <th>Property</th>
            <th>Cost</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr>
                <td><img src="{{variant.thumbnail_url}}"></td>
                <td>{{variant.lure.name}}</td>
                <td>{{variant.colour.name}}</td>
                <td>{{variant.property.name}}</td>
                <td>${{toDollars variant.cost}}</td>
                <td>{{this.quantity}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>



{{/block}}
{{/extends}}