{{#extends "base"}}
{{#block "content"}}
<div class="container d-flex justify-content-between mt-3">
    <div>
        <span class="fs-4">Orders</span>
    </div>
</div>
<hr>
<div>
    <form method="get">
        {{{form}}}
        <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Shipping Address</th>
            <th>Total Cost</th>
            <th>Payment Type</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{id}}</td>
            <td>{{user.email}}</td>
            <td>
                {{#if billing_address_line_2}}
                {{billing_address_line_1}}{{billing_address_line_2}}
                {{else}}
                {{billing_address_line_1}}
                {{/if}}
            </td>
            <td>${{toDollars total_cost}}</td>
            <td>{{upperCaseFirst payment_type}}</td>
            <td>{{order_status.order_status}}</td>
            <td>{{order_date}}</td>
            <td>
                <div>
                    <a href="/orders/{{id}}" class="btn btn-primary m-1">Update</a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}