{{#extends "base"}}
{{#block "content"}}
<div class="container d-flex justify-content-between mt-3">
    <div>
        <span class="fs-4">Lures</span>
    </div>
    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="./lures/create" style="font-size: 16px;" class="btn btn-sm btn-primary">
            Add Lure
        </a>
    </div>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Series</th>
            <th>Hook</th>
            <th>Type</th>
            <th>Size</th>
            <th>Weight</th>
            <th>Depth</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each lure}}
        <tr>
            <td>
                {{id}}
            </td>
            <td>
                {{name}}
            </td>
            <td>
                {{this.serie.name}}
            </td>
            <td>
                {{hook}}
            </td>
            <td>
                {{type}}
            </td>
            <td>
                {{size}}
            </td>
            <td>
                {{weight}}
            </td>
            <td>
                {{depth}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a href="/lures/{{id}}/variants" class="btn btn-success btn-sm"><i class="bi bi-eye"></i></a>
                    <a href="/lures/{{id}}/update" class="btn btn-primary btn-sm"><i
                            class="bi bi-pencil-square"></i></a>
                    <a href="/lures/{{id}}/delete" class="btn btn-danger btn-sm "><i class="bi bi-trash3"></i></a>
                </div>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}